.container {
    display: flex;
    width: 35.36rem;
    justify-content: space-between;
    max-height: 304px;
}

@media (max-width: 550px) {
    .container {
        width: 100%;
        flex-direction: column;
        height: 270px;
        align-items: center;

    }
}
