@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:root{
    --font-family: 'Montserrat', sans-serif;
}

.message {
    display: flex;
    justify-content: flex-end;
    margin-top: 34px;
    flex-direction: column;
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 47px;
}

.imageAndText img {
    width: 48px;
    height: 48px;
}

.text {
    background-color: #0066CC;
    margin-right: 0.8rem;
    border-radius: 0.8rem;
    max-width: 37.64rem;
    min-width: 7rem;

}

.text:after {
    content: "";
    border-bottom: 20px solid  #0066CC;
    border-right: 30px solid transparent;
    display: flex;
    position: relative;
    right: -1.1rem;
}

.name {
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 22px;
    text-align: end;
    color: white;
    font-weight: 600;
    padding: 8px 13px 0 0;
}

.messageText {
    display: block;
    color: white;
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    padding: 3px 13px 0 13px;

}

pre{
    white-space: pre-wrap;
    word-break: break-all;
}


.time {
    font-size: 10px;
    line-height: 12px;
    font-family: var(--font-family);
    font-weight: 600;
    text-align: center;
}

.imageAndTime{
    display: flex;
    flex-direction: column;
    align-self: end;
    position: relative;
    top: 1.3rem;
}

.imageAndTime img{
    margin-bottom: 6px;
}
