.sidebar {
    background: white;
    height: 100%;
    position: absolute;
    z-index: 2;
    flex-direction: column;
    padding: 16px 24px 0 0;
    width: 25%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    transition: all 0.5s ease-in-out;

}

.sidebar.open {
    display: flex;
    transform: translateX(0);
}

.background {
    background: black;
    opacity: 0.3;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 1;
}

.nav {
    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: white;

}

.nav a {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
    font-family: var(--font-family);
    color: black;
    margin-bottom: 45px;
}

.nav a:hover {
    color: #58ACFF;
}

.nav a.active {
    text-decoration-line: underline;
    color: #0059B2;
}

.close {
    display: flex;
    justify-content: flex-end;
    background: white;
    margin-bottom: 23px;
    align-items: center;

}

.close img {
    background: white;
    height: 24px;
    width: 24px;
}

@media (max-width: 790px) {
    .sidebar{
        width: 70%;
    }
}
@media (max-width: 360px) {
    .sidebar{
        width: 100%;
    }
}

