.downIcon{
    background-image: url("arrow.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
}

.upIcon{
    background-image: url("arrow.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    transform: rotate(180deg);
}

.noneIcon{
    background-image: url("arrow.svg");
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    transform: rotate(90deg);
}