.radio {
    margin-bottom: 22px;
}

.span{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.radio::before {

}


.radio:checked::before {

}

.label {
}

.label input{
    margin-right: 13px ;
}

.options {
    display: flex;
    flex-direction: column;

}
