.select {
    border: 1px solid #C2C2C2;
    border-radius: 2px;
    height: 24px;
    width: 165px;
    padding: 2px 0 5px 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.select:focus > .option:hover{
    background: white !important;
    color: #0066CC;
}

.option{
    border: 2px solid #C2C2C2;
    height: 84px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding: 2px 0 5px 10px;

}

.option:checked{
    background: #0066CC;
    color: white;
    padding: 2px 0 5px 10px;
}

.option:hover {
    background: white;
    color: #0066CC;
}
