.container {
    max-width: 230px;
}

.wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 56px;
    gap: 1.5rem
}


.number {
    display: inline-block;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    width: 20.5781px;
}

